@page
@model ProjectData.Views.Home.IndexModel
@{
    Layout = "~/Views/_Layout.cshtml";
    ViewBag.Title = "Main page";
}

<div class="choise" style="height: 85vh">
    <h3 style="text-align: center">Select tables</h3>
    <table class="table table-sm table-striped table-hover border-bottom">
        <thead>
            <tr>
                <th>Countries</th>
                <th>Regions</th>
                <th>Cities</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    <a href="/Countries/Index" class="Button">See raw data</a>
                    <a href="/Countries/Index" class="Button">See raw data</a>
                    <a href="/Countries/Index" class="Button">See raw data</a>
                </td>
            </tr>
        </tbody>
    </table>
</div>

