@page
@model ProjectData.Views.Home.IndexModel
@{
    Layout = "~/Views/_Layout.cshtml";
    ViewBag.Title = "Main page";
}

<div class="choise" style="height: 85vh">
    <h3 style="text-align: center">Select tables</h3>
    <table class="table table-sm table-striped table-hover border-bottom">
        <thead>
            <tr>
                <th>Countries</th>
                <th>Regions</th>
                <th>Cities</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    <a href="/Countries/Index" class="Button">See raw data countries</a>
                </td>
                <td>
                    <a asp-controller="Regions" asp-action="Index" asp-route-isReadable="false" class="Button">See raw data regions</a>
                </td>
                <td>
                    <a href="/Cities/Index" class="Button">See raw data cities</a>
                </td>
            </tr>
            <tr>
                <td>

                </td>
                <td>
                    <a asp-controller="Regions" asp-action="Index" asp-route-isReadable="true" class="Button">See readable regions</a>
                </td>
            </tr>
        </tbody>
    </table>
</div>

